.profileContainer {
    width: 50%;
    height: 90%;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 3% 23%;
}

.img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 22%;
}

.profileDetails {
    margin-left: 9%;
}

.profileForm {
    margin: 1% 1%;
}

#updatePass {
    margin-top: 1%;
    margin-left: 23%;
    border: 1px solid black;
    border-radius: 3px;
}

.changeButton {
    border: 1px solid black;
    border-radius: 3px;
}