.signUpContainer {
    width: 30%;
    height: 90%;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 10% 33%;
}

.signUpAttributes {
    margin-left: 20%;
    margin-top: 7%;
}

#signUpButton {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 33%;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
}